# Ignore everything ...
*

# ... but not these files!
!.tmux.conf
!.vimrc
!.vim/
!.vim/*
!.vim/after/*
!.vim/colors/*
!.vim/ftplugin/*
!.vim/misc/*
!.vim/misc/UltiSnips/*
!.vim/syntax/*
!.vim/vimrc/*
!.zshrc
!.zsh.d/
!.zsh.d/*
!.zsh.d/lib/*
!.gitignore
